#components-layout-demo-top-side-2 .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}

.ant-row-rtl #components-layout-demo-top-side-2 .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.site-layout-background {
  background: #fff;
}
.ant-table-thead > tr > th {
  background: #1890ff !important;
  color: white !important;
  border: 1px solid white !important;
}

.edit-btn{
  background-color: #ff6000 !important;
  color: white !important;
  border-radius: 8px !important;
}
.delete-btn{
  color: #fff!important;
  background: #ff4d4f!important;
  border-color: #ff4d4f!important;
  border-radius: 8px !important;
}

.import-btn{
  float: right;
}

.ant-form-item{
  flex-direction: column !important;
}
.ant-form-item-label{
  text-align: left !important;
}

.table-height{
  max-height: 400px;
  overflow-y: auto;
}
.table-heading{
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: large;
  font-weight: 600;
  background-color: skyblue;
  padding: 5px;
  color: white;
}

.rights_table_type_expand{
  text-decoration: underline;
  cursor: pointer;
  color: blue;
}
